<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="/stylesheets/autologin.css" type="text/css">
    <link rel="shortcut icon" href="#">

    <!-- js -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- <script src="/javascripts/device-uuid.js" type="text/javascript"></script> -->

    <style>
        /* * {
            font-family: 'Jua', sans-serif;
        } */
    </style>
    <script>

        $(function () {

            /* // 브라우저 정보 가져오기
            getBrowserInfo(); */

            /* // 디바이스 uuid 가져오기
            getDeviceUUID(); */

            // 로그인 화면 접속하자마자 쿠키, 세션확인하기 (FileStore)
            //getSession();

            // 로그인 화면 접속하자마자 쿠키, 세션확인하기 (MS SQL)
            //getSessionMssql();

        })

        /* // 창 종료 이벤트
        $(window).bind("beforeunload", function () {

            $.ajax({
                type: 'POST',
                url: '/users/close',
                success: function (response) {

                }
            });
        }) */

        /* function getBrowserInfo() {

            var agent = navigator.userAgent;
            console.log('Brwoser Info : ', agent);

        } */

        /*  function getDeviceUUID() {
 
             var uuid = new DeviceUUID().get();
             console.log('Device UUID : ', uuid);
 
             $.ajax({
                 type: 'GET',
                 url: '/users/getUUID',
                 data: {uuid: uuid},
                 success: function (response) {
 
                 }
             });
         } */

        /* function getSession() {

            $.ajax({
                type: 'GET',
                url: '/users/getSession',
                success: function (response) {

                    console.log(response.data);

                    if (response.data == 'NO') {

                        // 로그인창 보여주기
                        $('.wrap').css('visibility', 'visible');

                    } else if (response.data == 'OK') {

                        // 메인으로 이동
                        location.href = '/welcome';

                    }
                }
            });
        } */

        function getSessionMssql() {

            $.ajax({
                type: 'GET',
                url: '/users/getSessionMssql',
                success: function (response) {

                    console.log(response.data);

                    if (response.data == 'NO') {

                        // 로그인창 보여주기
                        $('.wrap').css('visibility', 'visible');

                    } else if (response.data == 'OK') {

                        // 메인으로 이동
                        location.href = '/welcome';

                    }
                }
            });
        }

        /* function goSignUp() {
            location.href = '/signup';
        } */

        function emailLogin() {

            var formData = $('#loginForm').serialize();

            $.ajax({
                type: 'POST',
                url: '/users/emaillogin',
                data: formData,
                success: function (response) {
                    // 페이지 호출 성공 시 로그인 성공/실패 처리
                    console.log('emaillogin response : ', response.data);
                    var data = response.data;

                    if (data == 'OK') {

                        // 메인으로 이동
                        $('.warning').css('display', 'none');
                        location.href = '/welcome';

                    } else if (data == 'NO') {

                        $('.warning-text').text('아이디 또는 비밀번호가 일치하지 않습니다.');
                        $('.warning').css('display', 'block');
                    }
                }
            });
        }

        function naverLogin() {
            location.href = '/users/naverlogin';
        }

        function kakaoLogin() {
            location.href = '/users/kakaologin';
        }

        function facebookLogin() {
            location.href = '/users/facebooklogin';
        }

        function googleLogin() {
            location.href = '/users/googlelogin';
        }
    </script>
</head>

<body class="container">
    <div class="wrap">
        <div class="title">로그인</div>
        <form id="loginForm" name="loginForm" method="post">
            <div>
                <input class="email" type="text" name="email" placeholder="이메일" />
                <input class="pw" type="password" name="pw" placeholder="비밀번호" />
            </div>
            <div class="warning">
                <div class="warning-icon">!</div>
                <div class="warning-text"></div>
            </div>
            <div>
                <input class="btn login" type="button" onclick="emailLogin(); return false;" value="로그인" />
            </div>
        </form>
        <div>
            <a class="btn-signup" href="/signup">회원가입</a>
        </div>
        <hr>
        <div class="m-t-10">
            <button class="btn naver" onclick="naverLogin()">네이버 로그인</button>
        </div>
        <div class="m-t-10">
            <button class="btn kakao" onclick="kakaoLogin()">카카오 로그인</button>
        </div>
        <div class="m-t-10">
            <button class="btn facebook" onclick="facebookLogin()">페이스북 로그인</button>
        </div>
        <div class="m-t-10">
            <button class="btn google" onclick="googleLogin()">구글 로그인</button>
        </div>
    </div>
</body>

</html>