@font-face {
    font-family: 'S-CoreDream-4';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'S-CoreDream-5';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0;
}

.wrap {
    width: 375px;
    margin: auto;
    text-align: center;
    /* padding: 20px; */
    /* border: 1px solid black; */
}

.title  {
    width: 375px;
    height: 40px;
    padding-top: 20px;
    background-color: #ffffff;
    font-family: S-CoreDream-5;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: -0.55px;
    text-align: center;
    color: #191919;
    box-shadow: 0 2px 4px 0 rgba(80, 80, 80, 0.05);
}

.desc  {
    width: 335px;
    height: 30px;
    margin: 20px 0px 0px 20px;
    font-family: S-CoreDream-5;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: -0.55px;
    text-align: left;
    color: #191919;
}

input {
    width: 335px;
    height: 42px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    font-family: S-CoreDream-4;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #191919;
    border: none;
}

.name {
    margin: 10px 20px 10px;
    padding: 11px 0px 12px 12px;
    
}

.email {
    margin: 0px 20px 10px;
    padding: 12px 0px 11px 12px;
}

.pw {
    margin: 0px 20px 10px;
    padding: 12px 0px 11px 12px;
}

.pwCheck {
    margin: 0px 20px 0px;
    padding: 12px 0px 11px 12px;
}

.warning {
    display: none;
    margin: 20px 0px 0px 20px;
}

.warning-icon {
    width: 16px;
    height: 16px;
    margin-top: 3px;
    border-radius: 50%;
    background-color: #d16100;
    text-align: center;
    color: #ffffff;
    font-family: S-CoreDream-4;
    font-size: 11px;
    float: left;
}

.warning-text {
    margin-left: 8px;
    font-family: S-CoreDream-4;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: -0.3px;
    text-align: left;
    color: #d16100;
    float: left;
}

.btn {
    width: 335px;
    height: 46px;
    margin: 20px 18px 30px 22px;
    padding: 12px 0px 13px 0px;
    border-radius: 4px;
    font-family: S-CoreDream-4;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.signup {
    background-color: #ae6be1;
    color: #ffffff;
}